<form *ngIf='requestSource =="article"' #filter="ngForm" (ngSubmit)="submitArticleData(filter)" class="center-form">
    <div>
        <label class="toggle-label">Image</label>
        <mat-slide-toggle [(ngModel)]="hasImage" class="example-margin" [color]="color" name="hasImage" [checked]="image">
        </mat-slide-toggle>
        <label class="toggle-label">Enable</label>
        <mat-slide-toggle [(ngModel)]="statusId" class="example-margin" [color]="color" name="statusId">
        </mat-slide-toggle>

        <label class=".toggle-filter-label">Product Status</label>
        <mat-slide-toggle [(ngModel)]="stockStatusId" class="example-margin" [color]="color" name="stockStatusId">
        </mat-slide-toggle>
    </div>
    <div>
        <label class="toggle-filter-label">Arabic Description</label>
        <mat-slide-toggle [(ngModel)]="hasArabicDescription" class="example-margin" [color]="color" name="hasArabicDescription">
        </mat-slide-toggle>
        <label class="toggle-filter-label">English Description</label>
        <mat-slide-toggle [(ngModel)]="hasEnglishDescription" class="example-margin" [color]="color" name="hasEnglishDescription">
        </mat-slide-toggle>

    </div>
    <br>
    <div class="form-block">
        <label class="radio-label">Gender</label>
        <input type="radio" name="genderId" value="136" ngModel>
        Men
        <input type="radio" name="genderId" value="137" ngModel>
        Women
        <input type="radio" name="genderId" value="138" ngModel>
        Unisex
    </div>
    <br>

    <div class="form-block">
        <label class="filter-label">Category</label>
        <select name="categoriesId" ngModel class="form-field">
            <option hidden value="null">Select Category</option>
            <option value="57">Men</option>
            <option value="58">Women</option>
            <option value="61">Sale</option>
            <option value="60">New arrival</option>
            <option value="92">Yeezy</option>
        </select>
    </div>
    <br>
    <div class="form-block">
        <label class="filter-label">Brand</label>
        <select name="brandId" ngModel class="form-field">
            <option hidden value="null">Select Brand</option>
            <option *ngFor="let entry of brandOptitons" value={{entry.option_id}}>{{entry.value}}</option>
        </select>
    </div>

    <br>
    <div class="form-block">
        <label class="filter-label">Type</label>
        <select name="selectType" ngModel class="form-field">
            <option hidden value="null">Select Type</option>
            <option value={{entry.option_id}} *ngFor="let entry of typeOptions">{{entry.value}}</option>
        </select>
    </div>
    <br>
    <div class="form-block">
        <label class="filter-label">Visibility</label>
        <select name="selectvisibility" ngModel class="form-field">
            <option hidden value="null">Select Visibility</option>
            <option value="4">Catlog and serach</option>
            <option value="3">Search</option>
            <option value="1">Not visibale individually</option>
            <option value="2">Catlog</option>
        </select>
    </div>
    <div class="buttons">
        <button type="submit" class="btn btn-primary-filter">Submit</button>
        <a type="reset" (click)="reset(filter)">Reset</a>
    </div>
</form>
<form *ngIf='requestSource =="skus"' #filter="ngForm" (ngSubmit)="submiskutData(filter)" class="center-form">
    <div>
        <label class="toggle-label">Enable</label>
        <mat-slide-toggle [(ngModel)]="enabled" class="example-margin" [color]="color" name="enabled">
        </mat-slide-toggle>

        <label class="toggle-label">Status</label>
        <mat-slide-toggle [(ngModel)]="status" class="example-margin" [color]="color" name="Status">
        </mat-slide-toggle>
    </div>
    <br>
    <div class="form-block">
        <label class="radio-label">Gender</label>
        <input type="radio" name="genderId" value="136" ngModel>
        Men
        <input type="radio" name="genderId" value="137" ngModel>
        Women
        <input type="radio" name="genderId" value="138" ngModel>
        Unisex
    </div>
    <br>
    <div class="form-block">
        <label class="filter-label">Size</label>
        <select name="sizeId" ngModel class="form-field">
            <option hidden value="null">Select size</option>
            <option value={{entry.option_id}} *ngFor="let entry of sizeOptions">{{entry.value}}</option>
        </select>
    </div>
    <br>
    <div class="form-block">
        <label class="filter-label">Category</label>
        <select name="categoriesId" ngModel class="form-field">
            <option hidden value="null">Select Category</option>
            <option value="57">Men</option>
            <option value="58">Women</option>
            <option value="61">Sale</option>
            <option value="60">New arrival</option>
            <option value="92">Yeezy</option>
        </select>
    </div>
    <br>
    <div class="form-block">
        <label class="filter-label">Brand</label>
        <select name="brandId" ngModel class="form-field">
            <option hidden value="null">Select Brand</option>
            <option *ngFor="let entry of typeOptions" value={{entry.option_id}}>{{entry.value}}</option>
        </select>
    </div>

    <br>
    <div class="form-block">
        <label class="filter-label">Type</label>
        <select name="selectType" ngModel class="form-field">
            <option hidden value="null">Select Type</option>
            <option value={{entry.option_id}} *ngFor="let entry of typeOptions">{{entry.value}}</option>
        </select>
    </div>
    <br>
    <div class="form-block">
        <label class="filter-label">Visibility</label>
        <select name="selectvisibility" ngModel class="form-field">
            <option hidden value="null">Select Visibility</option>
            <option value="4">Catlog and serach</option>
            <option value="3">Search</option>
            <option value="1">Not visibale individually</option>
            <option value="2">Catlog</option>
        </select>
    </div>
    <br>
    <div class="form-block">
        <label class="radio-label">Quantity</label>
         <select name="fromQ" ngModel class="filter-text">
            <option hidden value="null">Select operator</option>
            <option value="<">Greater than</option>
            <option value=">">Smaller than</option>
            <option value="=">Equal to</option>  
         </select>  
         {{value}}
        <input type="text" name="quantity" class="filter-text" placeholder="write the quantity" ngModel>
    </div>
    <br>
    <div class="form-block">
        <label class="radio-label">Price</label>
        <select name="fromP" ngModel class="filter-text">
            <option hidden value="null">Select operator</option>
            <option value="<">Greater than</option>
            <option value=">">Smaller than</option>
            <option value="=">Equal to</option>  
        </select>  
        <input type="text" name="price" class="filter-text" ngModel>
    </div>
    <div class="buttons">
        <button type="submit" class="btn btn-primary-filter">Submit</button>
        <a type="reset" (click)="reset(filter)">Reset</a>
    </div>
</form>