mat-slider{
    margin-right: 0px;
    margin-left: 0px;
}
.form-field{
width: 40%;
border: solid #D3D3D3	;
    border-radius: 5px;
    height: 40px;
    background-color: #f5f5f5;
    background-color: white;

}
.center-form{
    padding-top: 60px;
    margin-right:150px;
    text-align: center;
    overflow: hidden;
}

label{
    width: 200px;
}
.radio-label{
    padding-right: 80px;
}
input[type=text] {
width: 8%;
border: solid #D3D3D3	;
    border-radius: 5px;
    height: 40px;
    background-color: #f5f5f5;
    background-color: white;
}
input[type=text]:hover, input[type=text]:focus {
    border: 1.5px solid  #FBAD18;;
    background-color: white;
  }
  .form-field:hover, .form-field:focus {
    border: 1.5px solid  #FBAD18;;
    background-color: white;
  }
.form-block{
margin-bottom: 20px;
}
::ng-deep  {
    overflow: hidden;
    background-color: black;
  }
button[type =submit]{
    background-color: black;
    border: 1.5px solid  #FBAD18;
    width: 25%;
    display: inline-block;
    margin: 10px;
}
a{
    color:#FBAD18 ;
    border: none;
}
.toggle-label{
    width: 100px;
}
mat-slide-toggle{
    margin-bottom: 25px;
}
:host /deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: green;
}
:host /deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: white;
}
.buttons{
    margin-left: 200px;
}