<mat-toolbar>
    <span>Add price</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close closeBtn" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
    </mat-toolbar>
      <form #addPrice="ngForm" (ngSubmit)="submitData(addPrice)"  class="pageCenter">
          <label>Add price</label>
          <input type="text" name="price" class="form-control dfields" ngModel>
          <button type="submit" class="btn pryButton">Submit</button>
      </form>
     