<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar><a  [routerLink]="['/home-page']"><img src="../../assets/logo-en.png"></a></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/upload-products']"><i class="material-icons">get_app</i>Upload products</a>
      <a mat-list-item [routerLink]="['/upload-split']"><i class="material-icons">get_app</i>Upload split</a>
      <a mat-list-item [routerLink]="['/Add-Dedcription']"><i class="material-icons">comment</i>Upload Description</a>
      <a mat-list-item [routerLink]="['/Search-products']"><i class="material-icons">search</i>Search For Products </a> 
      <a mat-list-item [routerLink]="['/search-skus']"><i class="material-icons">search</i>Search For SKUs </a> 
      <mat-nav-list >
        <a mat-list-item href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"><i class="material-icons">visibility_off</i>Hidden Article<i class="material-icons">arrow_drop_down</i></a>
        <ul mat-list-item class="collapse list-unstyled" id="pageSubmenu">
          <a mat-list-item [routerLink]="['/Hidden-products/Disabled']"><i class="material-icons">pause_circle_outline</i>Disabled</a>
          <a mat-list-item [routerLink]="['/Hidden-products/NoImage']"><i class="material-icons">broken_image</i>No image</a>
          <a mat-list-item [routerLink]="['/Hidden-products/Outofstock']"><i class="material-icons">warning</i>Out of stock</a> 
          <a mat-list-item [routerLink]="['/Hidden-products/Nocategory']"><i class="material-icons">grid_off</i>No Category</a>
          <a mat-list-item [routerLink]="['/Hidden-products/Banned']"><i class="material-icons">block</i>Banned</a> 
          <a mat-list-item [routerLink]="['/Hidden-products/Invisible']"><i class="material-icons">block</i>Invisible</a> 
          <a mat-list-item [routerLink]="['/Hidden-products/noDescription']"><i class="material-icons">block</i>No Description</a>
          <a mat-list-item [routerLink]="['/Hidden-products/differentLanguages']"><i class="material-icons">block</i>Different Languages</a>
        </ul>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-list-item href="#skuSubmenu" data-toggle="collapse" aria-expanded="false"><i class="material-icons">visibility_off</i>Hidden Sku<i class="material-icons">arrow_drop_down</i></a>
        <ul mat-list-item class="collapse list-unstyled" id="skuSubmenu" >
          <a mat-list-item [routerLink]="['/Hidden-products/Noprice']" ><i class="material-icons">style</i>No Price</a>
          <a mat-list-item [routerLink]="['/Hidden-products/outOfStockToParent']"><i class="material-icons">grid_off</i>Out of stock</a>
          <a mat-list-item [routerLink]="['/Hidden-products/disabledToParent']"><i class="material-icons">block</i>Disabled</a> 
          <a mat-list-item [routerLink]="['/Hidden-products/differentPrice']"><i class="material-icons">block</i>Different Price</a>  
        </ul>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-list-item href="#Submenu" data-toggle="collapse" aria-expanded="false"><i class="material-icons">star</i>Featured product<i class="material-icons">arrow_drop_down</i></a>
        <ul mat-list-item class="collapse list-unstyled" id="Submenu" >
          <a mat-list-item [routerLink]="['/Add-Featured-Product']"><i class="material-icons">get_app</i>Add</a>
          <a mat-list-item [routerLink]="['/Edit-Featured-Product']"><i class="material-icons">edit</i>Edit</a>
        </ul>
      </mat-nav-list>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a id="log" class="logoutButton" (click)="signout()"  ><i class="material-icons">logout</i></a>
    </mat-toolbar>
    <!-- Add Content Here -->
  <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
