.mat-grid-tile {
    background-color:black;
    border: 3px solid #FBAD18;
    border-radius: 8px 8px 8px 8px;
  }
  .myCenter{
    margin-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none; 
  }
  .number{
    font-size: 30px;
    font-weight: bolder;
    color:#FBAD18;
    text-align: center;
  }
  .issue{
    font-size: 20px;
    color: whitesmoke;
  }
.icons{
 margin-left: auto;
 margin-right: auto;
 display:block;
 float: none;
}
a{
  text-decoration: none;
}
@media screen and ( max-width: 1024px ) {
  .mat-grid-tile {
    background-color:black;
    border: 3px solid #FBAD18;
    border-radius: 8px 8px 8px 8px;
    text-align: center;
  }
  .icons{
    margin-left: auto;
    margin-right: auto;
    display:block;
    float: none;
    width: 30px;
    height: 30px;
   }
   .issue{
    font-size: 12px;
    color: whitesmoke;
  }
  .number{
    font-size: 15px;
    font-weight: bolder;
    color:#FBAD18;
    text-align: center;
  }
  }