<mat-toolbar>
    <span>ِAdd Gender</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close closeBtn" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
    </mat-toolbar>
      <form #gender="ngForm" (ngSubmit)="submitData(gender)"  class="pageCenter">
        <div>
        <label>Select gender</label>
            <select name="selectGender"class="form-control fields"  ngModel >
                <option value="women">women</option>
                <option value="men">Men</option>
                <option value="unisex">unisex</option>
            </select>
          </div> 
            <br>
            <button type="submit" class="btn pryButton">Submit</button>
      </form>
     

     