<style>
.toolbar {
  height: 60px;
  margin: -8px;
  display: flex;
  align-items: center;
  background-color:black;
  color: white;
  font-weight: 600;
  margin-bottom:100px;

}

.toolbar img {
  margin: 0 16px;
}

</style>
<nav class="navbar toolbar">
<img src="https://www.nejree.com/media/wysiwyg/.thumbs/modifiedlogo.jpeg?rand=1578809882">
</nav>
<router-outlet></router-outlet>

<div class="container">
  <h1>Signin</h1>
  <br> <br>
  <form (ngSubmit)="login(loginForm)" #loginForm="ngForm">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" [(ngModel)]="email" name="email" #emailControl="ngModel"  required>
      <div *ngIf="emailControl.invalid && (emailControl.dirty || emailControl.touched)"
      class="alert alert-danger"> 
       Email is required.
    </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" [(ngModel)]="password" name="password" #passwordControl="ngModel" required>
      <div *ngIf="passwordControl.invalid && (passwordControl.dirty || passwordControl.touched)"
      class="alert alert-danger"> 
       password is required.
    </div>
    </div>

    <button type="submit" name="submit" class="btn btn-success">Submit</button>
  </form>
</div>