<mat-toolbar>
    <span>Change article</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close closeBtn" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
    </mat-toolbar>
      <form #changeArticle="ngForm" (ngSubmit)="submitData(changeArticle)"  class="pageCenter">
          <label>Write Article</label>
          <input type="text" name="article" class="form-control dfields" ngModel>
          <button type="submit" class="btn pryButton">Submit</button>
      </form>
     