.container{
  padding-top: 100px;
  margin-bottom: 100px;
}
.form-control{
  width: 40%;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 100px;
}
.matTable-img{
  width: 100px;
  height: 100px;
}
h4{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
  font-weight: bold;
  color: black;
}
.pryButton{
  text-align: center;
  color:#FBAD18;
  border: 2px solid black;
  border-radius: 0px 8px 0px 8px;
  background-color: black;
  width:20%;
  font-weight: bold;
  margin: auto;
  font-size: 10px;
  margin: 10px;
  }
  .checkBox{

    width: 30%;
  }
  .myCenter{
    color: black;
    margin-bottom: 80px;
  }
  .centerThing{
    margin-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none; 
  }