<mat-toolbar>
    <span>Add Description</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close closeBtn" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
    </mat-toolbar>
      <form #category="ngForm" (ngSubmit)="submitData(category)"  class="pageCenter">
        <label>Arabic Description</label>
        <textarea class="form-control" name="arabic" rows="4" cols="50"></textarea>
        <br>
        <label>English Description</label>
        <textarea class="form-control" name="english" rows="4" cols="50"></textarea>
        <br>
        <button type="submit" class="btn pryButton">Submit</button>
      </form>
     