/* You can add global styles to this file, and also import other style files */
html, body { height: 100%;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-y: hidden;
}
/*UPLOAD PAGES*/
.innerDiv{
  padding-top:100px;
  padding-bottom:100px;
  padding-right:50px;
  padding-left:50px;
  margin:auto;
  }
  .outerDiv{
    margin-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none; 
  }
  .centerElement{
  margin-left: auto;
  margin-right: auto;
  display: block;
  float: none;
  padding: 50px;
  }
  .pryButton{
  text-align: center;
  color:#FBAD18;
  border: 2px solid black;
  border-radius: 0px 8px 0px 8px;
  background-color: black;
  width :30%;
  font-weight: bold;
  padding: 1px;
  margin-right: auto;
  margin-left: auto;
  float: none;
  display: block;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  }
  .upload-header{
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: black;
    text-align: left;
    margin-top: 0px;
  
  }
/*Header*/
.hidden-header{
  font-size: 27px;
  text-align: left; 
  font-weight: bold;
  color: black;
  margin-top: 0px;
  margin-bottom: 50px;
  margin-left: 20px;
}
h2{
  font-size: 25px;
  text-align: left; 
  font-weight: bold;
  color: black;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 20px;
}
/*Dialog*/
table{
  width: 100%;
}
th,td{
  text-align: center;
}
.myapp-no-padding-dialog .mat-dialog-container {
    padding-top: 0;
    background-color: black;
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block;
  }
.Search-table{
  border: 0.5px solid #D3D3D3	;
  border-radius: 5px;
  height: 40px;
  width: 25%;
  padding: 2px 23px 2px 30px;
  outline: 0;
  margin-top: 10px;
  margin-bottom:5px;
  background-color: #f5f5f5;
  background-color: white;
}
.export-button{
  float: right;
  border:none	;
  padding: 1px 2px;
  height: 40px;
  font-weight: bold;
  background-color:whitesmoke;
}
.export-button:hover, .export-button:focus {
  border: none;
}
.custom-group{
  margin-bottom: 2px;
}
.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #FBAD18;
}
.fill-remaining-space{
  width: 100%;
}
.closeBtn{
  float: right;
  border: none;
  margin-bottom: 0px; 
}
.btn-dialog-close{
 border: none;
 margin-bottom: 0px;
}
.dialog-icon{
  width:110px;
  height: auto;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
h3{
color:white;
font-weight: bold;
font-size: 25px;
text-align: center;
padding-top: 20px;
}
h4{
color: #FBAD18;
text-align: center;
font-size: 18px;
margin-top: 20px;
margin-left: auto;
margin-right: auto;
display: block;
}
.pageCenter{
padding-top: 30px;
margin: auto;
text-align: center;
}
.dialog-icon-form{
width:90px;
height: auto;
margin-top: 10px;
margin-left:45%;
}
.main-dev{
margin-left: auto;
margin-right: auto;
display: block;
}
.pryButton{
text-align: center;
color:#FBAD15;
border: 0.5px solid#FBAD15;
width: 27%;
font-weight: bold;
font-size: 16px;  
}
.form-label {
color: #FBAD18;
font-size: 16px;
text-align: left;
margin-left: 181px;
}
.checked{
margin-left: 181px;
text-align: left;
margin-top: 7px;
margin-bottom: 7px;
}
.fields{margin: auto;}
.form-fields{
border: 0.5px solid #D3D3D3	;
height: 35px;
width: 60%;
}
.sub-form-fields{
border: 0.5px solid #D3D3D3	;
height: 35px;
width: 60%;
}
.sub-form-fields, .form-label {
display:block;
}
textarea{
border: 0.5px solid #D3D3D3	;
width: 60%;
}
.dialog-icon-img{
width:100px;
height: auto;
margin-top: 60px;
margin-left: auto;
margin-right: auto;
display: block;
margin-top: 40px;
margin-bottom: 1px;
}
.popup-img{
width: 40%;
margin-left: auto;
margin-right: auto;
display: block;
margin-bottom: 10px;
}
mat-slider{
margin-right: 0px;
margin-left: 0px;
}
.form-field{
width: 40%;
border: solid #D3D3D3	;
border-radius: 5px;
height: 40px;
background-color: #f5f5f5;
background-color: white;
}
.center-form{
padding-top: 60px;
margin-right:100px;
text-align: center;
overflow: hidden;
}
.form-field:hover, .form-field:focus {
 border: 1.5px solid  #FBAD18;;
background-color: white;
}
.form-block[_ngcontent-fkq-c15] {
  width: 100%;
}
::ng-deep  {
overflow: hidden;
background-color: black;
}
a{
color:#FBAD18 ;
border: none;
}
.buttons{
  margin-top: 25px;
  margin-left: 200px;
}
.form-blocks{
  margin-left:-65px;
}

/* filter*/
.radio-label-data-table{
margin-right: 80px;
width: 120px;
text-align: left;
}
.toggle-label{
width: 100px;
}
mat-slide-toggle{
margin-bottom: 20px;
margin-right: 15px;
}
:host /deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
background-color: green;
}
:host /deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
background-color: white;
}
.filter-text{
width: 12%;
border: solid #D3D3D3	;
border-radius: 5px;
height: 40px;
background-color: #f5f5f5;
background-color: white;
margin-left: 10px;
}
.filter-text:hover, .filter-text:focus {
border: 1.5px solid  #FBAD18;;
background-color: white;
}
.filter-label{
width: 200px;
color: #FBAD15;
}
.toggle-label {
width: 37px;
color: #FBAD15;
}
.filter-icon {
margin-left: 100px;
margin-right: auto;
display: inline-block;
width: 100px;
height: auto;
 margin-top: -50px;
}
.head-filter{
  margin-left: 100px;
  margin-right: auto;
  margin-bottom: 40px;
}
.myapp-filter-dialog .mat-dialog-container {
  padding: 0;
  background-color: black;
  height: 58%;
}
.toggle-filter-label{
  width: 150px;
  color: #FBAD15
}
.radio-label{
  padding-right: 60px;
  color: #FBAD15;
}
.radio-label-sku{
  padding-right: 100px;
  color: #FBAD15;
  width: 130px;
}
.btn-primary-filter{
  text-align: center;
  color:#FBAD15;
  border: 0.5px solid#FBAD15;
  width :45%;
  font-weight: bold;
  font-size: 16px;  
  margin-bottom: 10px;
  margin-right: 5px;
  }
 /*---------------------------------RESPOSIVE---------------------------------*/ 
/*IPDAD*/
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    /*buttons*/
    .btn-group, .btn-group-vertical {
      position: relative;
      display: -ms-inline-flexbox;
      display: inline-flex;
      vertical-align: middle;
      width: 50%;
    }
    .col-md-8 {
      -ms-flex: 0 0 66.666667%;
      flex: 0 0 66.666667%;
      max-width: 52.666667%;
  }
    .col-md-2 {
      -ms-flex: 0 0 16.666667%;
      max-width:1.666667%;
    }
    /*Dialog*/
    dialog-icon-img {
      width: 66px;
      height: auto;
      margin-top: 60px;
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-top: 40px;
      margin-bottom: 1px;
  }
    .popup-img {
      width: 77%;
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-bottom: 10px;
  }
    .radio-label-data-table {
      margin-right: -40px;
      width: 120px;
      text-align: left;
  }

    .buttons{
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
    .myapp-no-padding-dialog .mat-dialog-container {
      padding: 0;
      margin-left: 180px;
      margin-right: auto;
      display: block;
      width: 100%;
      height: 50%;
    }
    .dialog-icon-form {
      width: 57px;
      height: auto;
      margin-top: 10px;
      margin-left: 38%;
  }
    h3 {
      color: white;
      font-weight: bold;
      font-size: 20px;
      text-align: center;
      padding-top: 20px;
  }
    .form-label {
      color: #FBAD18;
      font-size: 14px;
      text-align: left;
      margin-left: 60px;
    }
    .checked {
      font-size: 11px;
      margin-left: 58px;
      text-align: left;
      margin-top: 7px;
      margin-bottom: 7px;
    }
    .btn-primary-filter{
      margin-right: 2px;
      width: 75px;
    }
    .radio-label {
      padding-right: 20px;
    }
    .center-form {
      padding-top: 60px;
      margin-right: 20px;
      text-align: center;
      overflow: hidden;
    }
    .filter-label {
      width: 80px;
    }
}

/* IPAD PRO */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2)
 {
   /*buttons*/
   .col-md-2 {
    -ms-flex: 0 0 16.666667%;
    /* flex: 0 0 16.666667%; */
    max-width: 7.666667%;
}
  /*Dialog*/
  .myapp-filter-dialog .mat-dialog-container {
    padding: 0;
    background-color: black;
    width: 100%;
   }
  .btn-primary-filter{
    margin-right: 5px;
  }
  .myapp-no-padding-dialog .mat-dialog-container {
    padding: 0;
    margin-left: 180px;
    margin-right: auto;
    display: block;
    width: 100%;
    height: 50%;
  }
  .radio-label {
    padding-right: 20px;
  }
  .center-form {
    padding-top: 60px;
    margin-right: 20px;
    text-align: center;
    overflow: hidden;
  }
  .filter-label {
    width: 80px;
  }
  h3 {
    color: white;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    padding-top: 20px;
  }
  .dialog-icon-form {
    width: 70px;
    height: auto;
    margin-top: 10px;
    margin-left: 42%;
  }
  .form-label {
    color: #FBAD18;
    font-size: 16px;
    text-align: left;
    margin-left: 90px;
  }
  .checked {
    font-size: 15px;
    margin-left: 90px;
    text-align: left;
    margin-top: 7px;
    margin-bottom: 7px;
  }
}
/*smartphones*/
@media (min-width: 320px) and (max-width: 480px) {
   /*buttons*/
   .btn-group, .btn-group-vertical {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
    width: 50%;
  }
  /*Dialog*/
  .radio-label {
    margin-right: -66px;
  }
  .myapp-filter-dialog .mat-dialog-container {
    width: 200%;
    height: 90%;
   }
  .myapp-no-padding-dialog .mat-dialog-container {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 70%;
    width: 100%;
  }
  .pageCenter {
    padding-top: 12px;
    margin: auto;
    text-align: center;
  }
  .dialog-icon{
    width:80px;
    height: auto;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  h3 {
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    padding-top: 20px;
  }
  h4{
    color: #FBAD18;
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
   }
   .dialog-icon-form {
    width: 58px;
    height: auto;
    margin-top: 10px;
    margin-left: 38%;
    }
  .form-label {
    color: #FBAD18;
    font-size: 11px;
    text-align: left;
    margin-left: 47px;
    } 
  .pryButton {
    text-align: center;
    color: #FBAD15;
    border: 0.5px solid#FBAD15;
    width: 27%;
    font-weight: bold;
    font-size: 12px;
    }
  .form-fields {
    border: 0.5px solid #D3D3D3;
    height: 25px;
    width: 60%;
  }
  .checked {
    margin-left: 45px;
    text-align: left;
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 11px;
    width: 50%;
  }
  .center-form {
    padding-top: 60px;
    margin-right: 0px;
    text-align: center;
    overflow: hidden;
    font-size: 10px;
    width: 100%;
}

.mat-slide-toggle-thumb {
  height: 17px;
  width: 18px;
  border-radius: 50%;
}
.mat-slide-toggle-bar {
  position: relative;
  width: 27px;
  height: 14px;
  flex-shrink: 0;
  border-radius: 8px;
}
label {
  display: inline-block;
  margin-bottom: .5rem;
  font-size: 10px;
  text-align: left;
}
.form-field {
  width: 40%;
  border: solid #D3D3D3;
  border-radius: 5px;
  height: 24px;
  background-color: #f5f5f5;
  background-color: white;
}
.filter-label {
  width: 40px;
  text-align: left;
}
.filter-text {
  width: 8%;
  border: solid #D3D3D3;
  border-radius: 5px;
  height: 17px;
  background-color: #f5f5f5;
  background-color: white;
}
.mat-slide-toggle-bar {
  position: relative;
  width: 28px;
  height: 8px;
  flex-shrink: 0;
  border-radius: 8px;
}
.mat-slide-toggle-thumb {
  height: 13px;
  width: 14px;
  border-radius: 50%;
}
  /*search field*/
  .form-group {
    margin-bottom: 1rem;
    margin-right: 43px;
    width: 74%;
    margin-left: -67px;
  }
  .Search-table {
    border: 0.5px solid #D3D3D3;
    border-radius: 5px;
    height: 40px;
    width: 44%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: #f5f5f5;
    background-color: white;
}
/*------------------------*/
}
