.logoutButton{
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: #aaaaaa;
}
.material-icons{
    padding: 0;
    color: #aaa;
}
a{
    color: #aaaaaa;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}
a:hover {
    color : white
  }
.logoutButton :hover{
    color: white;
}

@media screen and ( max-width: 1024px ) {
 img.responsive { width: 60px; }
    a{
    font-size: 11px;
    }
    .material-icons{
     width: 10px;
    height: 10px;
    }
        }
    @media screen and ( min-width: 1025px) {
    img.responsive { width: 100px;}
    a{font-size: 16px;}
    }
    img.responsive { height: auto; }
    img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding:0;
         }
    .spacer {
    flex : 1 1 auto
    }
    .mat-toolbar{
        background-color: black;
    }
  