<mat-toolbar>
    <span>Change size</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close closeBtn" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
    </mat-toolbar>
      <form #size="ngForm" (ngSubmit)="submitData(size)"  class="pageCenter">
          <label>Select size</label>
            <select name="selectCategory" id="#" class="form-control fields"  ngModel >
                <option value="sale">sale</option>
                <option value="limitedEddition">limitedEddition</option>
                <option value="designer">designer</option>
                <option value="women">women</option>
            </select>
          
            <button type="submit" class="btn pryButton">Submit</button>
      </form>
     
