<button class="btn-dialog-close closeBtn" mat-stroked-button (click)="onClose()" tabIndex="-1">
  <mat-icon>clear</mat-icon>
</button>
<div class="main-dev">
  <img src="../../../assets/category.svg" class="dialog-icon-form">
  <h3>New Description</h3>
  <span class="fill-remaining-space"></span>
</div>
<form #descriptions="ngForm" (ngSubmit)="submitData(descriptions)" class="pageCenter">
  <label class="form-label">Arabic Description</label>
  <textarea class="fields " name="arabic" rows="3" cols="50" ngModel></textarea>
  <br>
  <label class="form-label">English Description</label>
  <textarea class="fields " name="english" rows="3" cols="50" ngModel></textarea>
  <br>
  <br>
  <button type="submit" class="btn pryButton">Submit</button>
</form>